<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text=#{title}></title>
</head>
<body>
    <center>
        <table border="1">
            <tr>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성시간</th>
            </tr>
            <tr th:each="board : ${boards}">
                <td th:text="${board.title}"></td>
                <td th:text="${board.author_name}"></td>
                <td th:text="${board.createdAt}"></td>
            </tr>
        </table>
    </center>
</body>
</html>