<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text=#{title}></title>
</head>
<body>
    <center>
     <table>
            <tr>
                <td> 제목 : </td>
                <td th:text="${board.title}"></td>
            </tr>
            <tr>
                <td> 작성자 : </td>
                <td th:text="${board.content}"></td>
            </tr>
            <tr>
                <td> 내용 </td>
                <td><textarea th:text="${board.author_name}" readonly></textarea> </td>
            </tr>
            <tr>
                <td> 작성 시간 : </td>
                <td th:text="${board.createdAt}"></td>
            </tr>
        </table>
    </center>
</body>
</html>