<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text=#{title}></title>
</head>
<body>
    <center>
        <table border="1">
            <tr>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성시간</th>
            </tr>
            <tr th:each="board : ${boards}">
                <td th:text="${board.title}"></td>
                <td th:text="${board.author_name}"></td>
                <td th:text="${board.createdAt}"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <center th:with="prev=${pageNum - 1}, next=${pageNum + 1}">
                        <a th:unless="${prev < 0}" th:href="@{/web/boards(pageNum=${prev})}">prev</a>
                        <a th:unless="${prev < 0}" th:text="${prev}"></a>
                        <b><a th:text="${pageNum}"></a></b>
                        <a th:text="${next}"></a>
                        <a th:if="${prev < 0}" th:text="${next + 1}"></a>
                        <a th:href="@{/web/boards(pageNum=${next})}">next</a>
                    </center>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>